@font-face {
    font-family: Magic;
    src: url(/static/other/magic_cards_kollfin.ttf);
}

th, td {
    border: 1px solid burlywood;
    padding: 5px;
    border-radius: 5px;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 25px 5px 25px;
    flex-wrap: wrap;
    width: 70%;
}


.all-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 25px 5px 25px;
    flex-wrap: wrap;
    width: 70%;
}

.menu-button-big {
    color: burlywood;
    font-family: Magic, Arial, serif;
    font-size: 24px;
}


.menu-button-big-creature {
    width: 40px;
}

.smalltext-magic {
    margin-top: 30px;
    font-family: Magic, Arial, serif;
    color: burlywood;
    width: 100%;
}

.smalltext {
    color: burlywood;
    width: 100%;
}

.content-tables  {
    width: 90%;
    color: burlywood;
    text-align: center;
    border: 2px solid peachpuff;
    margin: 2px 2px 2px 2px;
    font-size: 20px;
    border-radius: 7px;
}

.bold-text {
    font-weight: bold;
}

.character-attributes-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 25px 5px 25px;
    flex-wrap: wrap;
}


.content-characters  {
    width: 90%;
    color: burlywood;
    text-align: center;
    border: 2px solid peachpuff;
    margin: 2px 2px 2px 2px;
    font-size: 20px;
    border-radius: 7px;
}
