@font-face {
    font-family: Magic;
    src: url(/static/other/magic_cards_kollfin.ttf);
}

th, td {
    border: 1px solid burlywood;
    padding: 5px;
    border-radius: 5px;
    color: burlywood;
}

h1 {
    color: burlywood;
    font-family: Magic, Arial, serif;
    font-size: 48px;
}

a {
    position: relative;
    z-index: 100;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 25px 5px 25px;
    flex-wrap: wrap;
    width: 70%;
    position: relative;
    z-index: 100;
}


.all-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 25px 5px 25px;
    flex-wrap: wrap;
    width: 70%;
}

.menu-button-big {
    color: burlywood;
    font-family: Magic, Arial, serif;
    font-size: 24px;
}


.menu-button-big-creature {
    width: 40px;
}

.smalltext-magic {
    margin-top: 30px;
    font-family: Magic, Arial, serif;
    color: burlywood;
    width: 100%;

    text-align: center;
    position: absolute;
    bottom: 20px;

}

.smalltext {
    color: burlywood;
    width: 100%;
}

.content  {
    width: 90%;
    color: burlywood;
    text-align: center;
    border: 2px solid peachpuff;
    margin: 2px 2px 2px 2px;
    font-size: 20px;
    border-radius: 7px;
    display: block;
    max-height: 90vh;
    overflow: auto;
}

.bold-text {
    font-weight: bold;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


.textAnimate {
    text-align: center;

}

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
}
.fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
}
.fog__img--first {
    background: url("/static/img/fog-1.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 300s linear infinite;
    animation: marquee 300s linear infinite;
    opacity: 0.5;
}
.fog__img--second {
    background: url("/static/img/fog-2.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 180s linear infinite reverse;
    animation: marquee 180s linear infinite reverse;
    opacity: 0.3;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

content-tables {
    display: block;
    width: 50%;
    margin: 0 auto;
    max-height: 90vh;
    overflow: auto;
}

@media screen and (max-width: 767px) {
    content-tables {
        width: 70%;

        max-height: 80vh;
    }
}