<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>МОЯRОШNД</title>
</head>
<body bgcolor="#101010" link="#ffe4c4" vlink="#ffebcd" alink="#faebd7">
    <img src="/static/img/jiub.jpg" alt="ROLLBOT" id="logo">
    <section class="menu">
        <div class="features">
            <p><a href="/users">Пользователи</a></p>
            <p><a href="/history">Логи<a></p>
        </div>
    </section>
    <div id="smalltext"> Powered by SRMS devs, 2019 / Сделано крысанами в 2019 году</div>>
</body>
</html>