{{template "base" .}}

{{define "main"}}
    <div>
        <section class="mainContent">
            <a href="https://vk.com/public178316123"><img src="/static/img/123.png" alt="ROLLBOT" id="logo"></a>

        </section>
        <section class="textAnimate">
            <h1>ПРNПЛЫЛN
            </h1>
        </section>
    </div>
{{end}}