{{template "base" .}}

{{define "main"}}
    <table class="content" >
        <tr class="bold-text">
            <td>Дата</td>
            <td>Имя</td>
            <td width="25%">Команда</td>
            <td width="25%">Результат</td>
            <td width="25%">Комментарий</td>
        </tr>
        {{ range .Results }}
            <tr>
                <td>{{ .Date }}</td>
                <td>
                    <a href="/history/{{.UserID}}">{{ .Username }}</a>
                </td>
                <td>{{ .Command }}</td>
                <td>{{ .Result }}</td>
                <td>{{ .Comment }}</td>
            </tr>
        {{end}}
    </table>
{{end}}