{{template "base" .}}

{{define "main"}}
  <table class="content-tables">
    <tr class="bold-text">
      <td width="30%">ID</td>
      <td width="30%">Имя</td>
      <td width="30%">Число команд</td>
    </tr>
    {{ range .Users }}
      <tr>
        <td>{{ .ID }}</td>
        <td>
          <a href="/history/{{.ID}}">{{ .Username }}</a>
        </td>
        <td>{{ .Count }}</td>
      </tr>
    {{end}}
  </table>
{{end}}